<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abhishek.zoukloanscliententry">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ParseApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_blue"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:parentActivityName=".DataViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="iT7ReC62s1A427l6olxJD7NgTpZhZQg1WWIuTODE" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="wmuYJohnOqLzTdvRyvqjqNtMECrDEOg2Sixk7tcp" />

        <activity
            android:name=".StartingActivity"
            android:label="@string/title_activity_starting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DataViewActivity"
            android:label="Clients Data"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GoogleAuthActivity"
            android:label="@string/title_activity_google_auth"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FolderViewActivity"
            android:label="@string/title_activity_folder_view"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddFolderNameActivity"
            android:label="@string/title_activity_add_folder_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailViewActivity"
            android:label="@string/title_activity_detail_view"
            android:parentActivityName=".DataViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:parentActivityName=".DataViewActivity"
            android:name=".ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
